.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo > img {
  width: 80px;
  margin-left: 15px;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 0.5;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__search > input {
  flex: 0.85;
  line-height: 24px;
}

.header__search__icon {
  flex: 0.15;
  background-color: #ccc;
  padding: 3px 3px;
  cursor: pointer;
  text-align: center;
}

.header__actions > svg {
  padding: 0px 15px;
}

.header__actions_avatar {
  cursor: pointer;
}
